@{
    ViewData["Title"] = "Home Page";
}

<!-- Reference: https://codepen.io/ganmahmud/pen/RaoKZa Date: 14 October 2021 -->
<!-- Credit: http://www.javascriptkit.com/javatutors/touchevents2.shtml -->

<link href="~/lib/swipe/css/swipe.css" rel="stylesheet" />

<div class="row">

    <div id="swipezone">
        Swipe me
    </div>

    <br />
    <div class="text-center" style="font-family:'Comfortaa', cursive">Please test on mobile mode.</div>

</div>

<script src="https://code.jquery.com/jquery-1.11.3.min.js" type="text/javascript"></script>
<script src="~/lib/swipe/js/swipe.js" type="text/javascript"></script>